.each-column.user-list {
    .alert {
        margin: 15px;
    }
    @media only screen and (max-width: 1200px) {
        display: none;
    }
}

.each-user {
    display: flex;
    position: relative;
    margin: 20px 25px;
    padding-right: 100px;
    img {
        border-radius: 50%;
        margin-right: 12px;
    }
    p {
        margin-bottom: 0;
    }
    p.name {
        line-height: 25px;
        font-size: 15px;
    }
    p.email {
        font-size: 14px;
    }

    .last-seen {
        position: absolute;
        right: 0;
        top: 5px;
        color: #111;
        font-size: 13px;
    }
}
